name: Release
on: workflow_dispatch
permissions: write-all

jobs:
  Telegram:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get -y install libfuse2 jq wget curl tar

      - name: Build AppImage (latest Telegram)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: telegram-continuous.AppImage
          path: dist

      - name: Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: Telegram AppImage ${{ env.TELEGRAM_VERSION }} Build
          automatic_release_tag: ${{ env.TELEGRAM_VERSION }}
          prerelease: false
          files: |
            dist/
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release Continuous
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: Telegram AppImage Continuous Build
          automatic_release_tag: continuous
          prerelease: true
          files: |
            dist/
          repo_token: ${{ secrets.GITHUB_TOKEN }}
